@model cecati_117.Models.BolsaDeTrabajo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BolsaDeTrabajo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BolsaDeTrabajo_Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BolsaDeTrabajo_Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BolsaDeTrabajo_Descripción)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BolsaDeTrabajo_Descripción)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BolsaDeTrabajo_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
